---
BasedOnStyle: Microsoft
IndentWidth: 8
DerivePointerAlignment: false
PointerAlignment: Left
AlignArrayOfStructures: Left
AlignConsecutiveMacros: AcrossEmptyLines
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveBitFields: AcrossEmptyLines
AlignConsecutiveDeclarations: AcrossEmptyLines
AlignOperands: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BreakAfterAttributes: Always
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
InsertNewlineAtEOF: true
IntegerLiteralSeparator:
  Binary: 8
  Decimal: 3
  Hex: 8
LineEnding: LF
PPIndentWidth: 8
ColumnLimit: 86
AlwaysBreakAfterReturnType: All
---
